.container{
    padding-top: 1px;
}
.header{
    background-color: #128c7e;
    width: 100%;
    height: 90px;
    position: fixed;
    
}
.box1{
    padding: 4px;
    width: 27%;
    height: 80px;
    float: left;
}    
.logo{
    margin-left: 147px;
    margin-top: 20px
}

.box2{
   
    width: 163px;
    height: 68px;
    float: left;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 22px;
    color:#FFFFFF;
}

body{
    margin: 0;
}
#head1{
    margin-left: 33px;
}
#head2{
    margin-left: 49px;
}
#head3{
    margin-left: 20px;
}
#head4{
    margin-left: 5px;
}
#head5{
    margin-left: -34px;
}
#head6{
    margin-left: 30px;
    margin-left: -40px;
    background-color: #128c7e;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 13px;
    border: 0ch;
}
.content{
    width: 60%;
    height:700px;
    padding-top: 70px;
    margin-left: 22%;
}
.para{
    margin-top: 117px;
    margin-right: 22px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 33px;
    width: 376px;
    line-height: 48px;
    float: left;
    color: #1c1e21;
}
.image{
    float: left;
    margin-top: 70px;
    margin-left: 55px;

}
.img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 304px;
}
.img1{
    
    height: 17px;
    width: 16px;
    float: left;
    padding-top: 14px;
    padding-right: 12px;

}
.img2{
    height: 17px;
    width: 16px;
    float: left;
    padding-top: 14px;
    padding-right: 12px;
}
.img3{
    height: 17px;
    width: 16px;
    float: left;
    padding-top: 14px;
    padding-right: 12px;
}
.android{
    font-size: 18px;
    color: #128c7e;
    margin-top: 34px;
}
.iphone{
    font-size: 18px;
    color: #128c7e;
    margin-top: -24px;
}
.pc{
    font-size: 18px;
    color: #128c7e;
    margin-top: -24px;
}
.card1{
    background-color: #D8E8EA;
    width: 39%;
    height: 809px;
    float: left;
    margin-right: 18px;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #1c1e21;
    line-height: 1.34;
    padding-top: 40px;
}
.card2{
    background-color:#E7F0E4;
    width: 39%;
    height: 774px;
    float: left;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #1c1e21;
    line-height: 1.34;
    padding-top: 75px;
    margin-left: 18px;
}
.WB{
    color:#39b3ed;
}
#catalog{
    width: 63%;
    height: 47%;
    padding-top: 87px;
}
#emoji{
    width: 65%;
    
    
}
.cardpara{
    margin-top: 50px;
}
.expbutton{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
#features{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #128c7e;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-color: #128c7e;
    border-radius: 40px;
    margin-top: 52px;
    width: 219px;
    height: 57px;

}
.footer{
    background-color: #273443;
    width: 100%;
    height: 345px;
    margin-top: 35px;
}
.footer1{
    margin-left: 160px;
    width: 1333px;
    padding-top: 20px;
}
.column{
    color: #FFFFFF;
    font-size: 18px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: .7;
    float: left;
    width: 20%;
}
.copyright{
    width: 100%;
    height: 65px;
    background-color: #1c1e21;
    margin-top: -16px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.copy1{
    width: 30%;
    padding-top: 4px;
    padding-left: 155px;
   float: left;

}
.copy2{
    float: left;
    width: 17%;
    margin-left: 500px;
    
}